// UI Vars

    // Media Queries
    $mobilePortraitMax: 639px;
    $mobileLandscapeMax: 812px;

    @mixin defaultShadow() {
        box-shadow: 0 0 7px 0 rgba(39, 84, 125, 0.05);
    }

    // Spacements
    $sectionPadding: 40px;
    $sectionPaddingDesktop: 80px;

    // Colors

        // Main Trade Colors
        $Primary:   #005c9d;
        $Secondary: #003c61;

        // White to Black
        $Black: #000000;
        $Gray1: #363635;
        $Gray2: #565655;
        $Gray3: #7a7a79;
        $Gray4: #adadab;
        $Gray5: #e1e1e0;
        $Gray6: #ececeb;
        $Gray7: #f5f5f5;
        $White: #ffffff;

        // Greens / Success
        $Green1:  #13ce66;
        $Green2:  #29eb7f;

        // Reds / Errors
        $Red1:    #e72929;
        $Red2:    #ff4949;
