// Animations

// Buttons Animations
@keyframes spinnerloading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes growicon {
  0% { transform: scale(0); }
  70% { transform: scale(1.75); }
  100% { transform: scale(1); }
}