// Buttons

button, .button {
    -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
    font-family: "Trebuchet MS","Barlow",sans-serif;
    text-align:center;
    padding:0.7em;
    font-size:15px;
    font-weight: 600;
    cursor:pointer;
    transition:background 0.3s, color 0.3s;
    display:inline-block;
    background:$Primary;
    color:$Gray7;
    border:1px solid $Primary;
    text-decoration:none;

    &.smaller {
        padding:0.4em;
    }

    &.small {
        padding:0.65em;
    }

    &.large {
        padding:0.85em 1.4em;
    }

    &.larger {
        padding:1.367em 2em;
    }

    &.expand, &.expanded {
        display:block;
        width:100%;
    }

    & > i {
        margin: 0 4px;
    }

    &:hover {
        background-color: $Secondary;
        border-color: $Secondary;
    }

    &.loading, &.success, &.error {
        pointer-events:none;
        position:relative;
        color:transparent !important;
    }

    &.loading {
        &:before {
            content: "\f3f4";
            color: $Gray7;
            font-family: Font Awesome\ 5 Pro;
            font-weight: 900;
            font-size:16px;
            line-height:initial;
            position:absolute;
            top:calc(50% - 8px);
            left:calc(50% - 8px);
            animation:0.8s linear infinite spinnerloading;
        }
    }

    &.success {
        &:before {
            content: "\f00c";
            color:$Gray7;
            font-family: Font Awesome\ 5 Pro;
            font-weight: 400;
            font-size:16px;
            line-height:initial;
            position:absolute;
            top:calc(50% - 8px);
            left:calc(50% - 8px);
            animation:0.5s ease 1 growicon;
        }
    }

    &.error {
        background: $Red2 !important;
        border-color: $Red2 !important;
        color:$White;
        &:before {
            color:$White;
            font-family: Font Awesome\ 5 Pro;
            font-weight: 400;
            font-size:16px;
            line-height:initial;
            content: "\f00d";
            position:absolute;
            top:calc(50% - 8px);
            left:calc(50% - 6px);
            animation:0.5s ease 1 growicon;
        }
    }

    &.transparent {
        background-color:transparent !important;
        border-color:$Primary;
        color: $Primary;
        &:hover {
            background: $Secondary !important;
            border-color:$Secondary;
            color:$White;
        }
        &.gray {
            color: $Gray4;
            &:hover {
                background: $Gray4 !important;
                border-color: $Gray4;
                color:$White;
            }
            &.loading, &.success {
                &:before {
                    color: $Gray4;
                }
            }
        }
        &.dark {
            color: $Gray1;
            &:hover {
                background: $Gray1 !important;
                border-color: $Gray1;
                color:$Gray7;
            }
            &.loading, &.success {
                &:before {
                    color: $Gray1;
                }
            }
        }
    }

    &.gray {
        background: $Gray4;
        border-color: $Gray4;
        color: $White;
        &:hover {
            background:$Gray3;
            border-color: $Gray3;
        }
        &.loading, &.success {
            background: $Gray4;
            &:before {
                color: $White;
            }
        }
    }

    &.dark {
        background:$Gray2;
        border-color:$Gray2;
        color:$Gray7;
        &:hover {
            background:$Gray1;
            border-color:$Gray1;
        }
        &.loading, &.success {
            background:$Gray1;
            &:before {
                color: $Gray7;
            }
        }
    }

    &[disabled] {
        background: $Gray6;
        border-color:$Gray6;
        color: $Gray4 !important;
        i {
            color: $Gray4;
        }
        &:hover {
            background: $Gray6 !important;
            border-color: $Gray6 !important;
            color: $Gray4 !important;
        }
        &.transparent {
            &:hover {
                background: transparent !important;
            }
        }
    }
}

.mobile-menu-button {
    position:relative;
    background:transparent;
    width:40px;
    height:40px;
    border:none;

    &:hover {
        background:transparent;
    }

    & > span {
        display:block;
        height:2px;
        width:100%;
        background-color:$White;
        position:relative;
        transition:transform 0.3s;

        &:before, &:after {
            content:'';
            transition:transform 0.3s, top 0.3s, opacity 0.1s;
            position:absolute;
            display:block;
            width:100%;
            height:2px;
            background-color:$White;
        }

        &:before {
            top:-7px;
        }

        &:after {
            top:7px;
        }
    }

    &.is-active {
        & > span {
            transform:rotate(45deg);
            &:before {
                top:0;
                opacity:0;
            }
            &:after {
                top:0;
                transform:rotate(-90deg);
            }
        }
    }
}