// Components
// Which can be shared between website and other environments such as panels or landing pages
.header {
    position:relative;
    z-index: 10;
    background-color: $Gray1;
    height: 70px;
    border-bottom:1px solid $Gray1;

    &.scrolling {
        &>*:first-child {
            transition:background 0.3s;
            height:70px;
            width:100%;
            position: fixed;
            background: $Gray1;
        }
    }

    .logo {
        height:70px;
        a {
            height:70px;
            display:inline-block;
            svg {
                height:70px;
            }
        }
    }

    .mobile-menu {
        height: calc(100vh - 60px);
        position: fixed;
        opacity:0;
        pointer-events:none;
        top: 70px;
        left: -100vw;
        width: 80vw;
        background-color: $White;
        z-index: 9999;
        transition:left 0.3s, opacity 0.3s;

        &:before {
            transition:width 0.3s, left 0.3s;
            z-index: 999;
            content:'';
            position:fixed;
            width: 100vw;
            height: calc(100vh - 60px);
            top: 70px;
            left: 0vw;
            background-color: $Gray2;
            opacity:0;
        }

        &.is-opened {
            left: 0vw;
            opacity:1;
            pointer-events:auto;

            &:before {
                width: 20vw;
                opacity:0.9;
                left: 80vw;
            }
        }

        a {
            display: block;
            color: $Gray2;
            text-decoration: none;
            line-height: 60px;
            padding:0 24px;
            border-bottom: 1px solid $Gray6;
            i {
                color: $Primary;
                margin-right:6px;
            }
            &.active {
                background:$Primary;
                color:$White;
                i {
                    color: $White;
                }
            }
        }
    }

    .desktop-nav {
        a {
            display: inline-block;
            color: $White;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            text-transform: uppercase;
            margin:0 12px;
            font-size: 14px;
            &:hover, &.active {
                border-bottom-color: $White;
            }
        }
    }

    form[role="search"] {
        width:100%;
        max-width:100%;
        position: absolute;
        left:0;
        right:0;
        padding:0 12px 12px 12px;
        background:$Gray1;
        @media (min-width:$mobilePortraitMax) {
            padding:0;
            background:none;
            position: relative;
            max-width: 320px;
        }
    }
}

.footer {
    background-color: $White;
    display: block;
    color: $White;
    padding-top: $sectionPadding;
    h4 {
        color:$Gray2;
    }
    a {
        line-height:30px;
        color:$Gray3;
        i {
            margin-right:2px;
        }
        &.job-alert {
            color: $Primary;
        }
    }
    .copyrights {
        color:$Gray4;
        font-size: 12px;
        padding:40px 0 80px 0;
    }
}