// Input Elements

// Resets
input:not([type=button])[disabled], input:not([type=checkbox])[disabled], input:not([type=radio])[disabled] {
    background: $Gray6;
    color: $Gray4;
    &:hover {
        background: $Gray6;
    }
    &~label {
        color: $Gray4;
    }
    &~i {
        color: $Gray4;
    }
}

textarea[disabled] {
    background: $Gray6;
    color: $Gray4;
    &~label {
        color: $Gray4;
    }
}

/* UI Input */
.ui-form-input {
    position:relative;
    display:block;
    width:100%;
    height:50px;

    &.textarea {
        height:auto;
    }

    label {
        font-size:13px;
        font-weight:500;
        position:absolute;
        top:16px;
        left:16px;
        color:$Gray2;
        z-index:1;
        cursor:text;
        transition:all ease 0.2s;
    }

    input {
        border:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:block;
        outline:none;
        border:1px solid $Gray5;
        border-radius:3px;
        padding-left:16px;
        padding-right:16px;
        padding-top:16px;
        font-size:14px;
        color:$Gray2;
        font-weight:600;

        &:focus {
            border-color:$Primary;
        }

        &:focus, &:hover {
            outline:none;
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          opacity:0;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          opacity:0;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          opacity:0;
        }
        &:-moz-placeholder { /* Firefox 18- */
          opacity:0;
        }
    }

    textarea {
        border:1px solid $Gray5;
        color:$Gray2;
        width:100%;
        min-height:150px;
        padding:30px 16px;
        resize:none;
        &:focus {
            border-color: $Primary;
        }
    }

    &+.ui-form-input {
        margin-top:12px;
    }

    &.active {
        label {
            transition:all ease 0.2s;
            font-size:12px;
            top:6px;
        }
    }

    &.invalid {
        label {
            color:$Red2;
        }
        input {
            border-color:$Red2;

            &:focus, &:hover {
                border-color:$Red2;
            }
        }
    }

    &.has-icon {
        label {
            left:48px;
        }
        input {
            padding-left:48px;
        }
        &>i {
            position:absolute;
            top:18px;
            left:16px;
            color:$Gray2;
            z-index:1;
        }
    }

    &.has-inline-button {
        input {
            left:0px;
            width:75%;
            border-top-right-radius:0px;
            border-bottom-right-radius:0px;
        }
        button, .button {
            position:absolute;
            right:0px;
            width:25%;
            height:100%;
            border-top-left-radius:0px;
            border-bottom-left-radius:0px;
        }
    }
}

.ui-checkbox, .ui-radio {
    margin:0 0 12px 0;
    cursor: pointer;
    display: block;

    input[type="checkbox"], input[type="radio"] {
        display: none;
        &:checked ~ label:before, &:checked ~ span:before {
            font-weight: bold;
            color: $Primary;
        }
        &[disabled] ~ label:before, &[disabled] ~ span:before {
            color: $Gray5;
        }
    }

    label {
        -webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
        position: relative;
        color: $Gray3;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;

        &:before {
            font-family:"Font Awesome 5 Pro";
            font-size: 18px;
            top:2px;
            position: relative;
            display: inline-block;
            margin-right: 10px;
            color: $Gray5;
        }
    }
}

.ui-checkbox {
    input[type="checkbox"] {
        &:checked ~ label:before, &:checked ~ span:before {
            content: "\f14a";
        }
    }
    label {
        &:before {
            content: "\f0c8";
        }
    }
}

.ui-radio {
    input[type="radio"] {
        &:checked ~ label:before, &:checked ~ span:before {
            content: "\f058";
        }
    }
    label {
        &:before {
            content: "\f111";
        }
    }
}
