// Helper Classes

// Resets
::selection {
    background-color: $Primary;
    color: $White;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html, body {
    font-family: "Barlow", sans-serif;
}

ul, ol, dl {
    list-style:none;
}

input:-webkit-autofill {
 box-shadow: 0 0 0 1000px $White inset !important;
 color: $Gray1 !important;
}

address {
    font-style:normal;
}

fieldset {
    margin:0;
    padding:0;
}

// Classes
.relative {position:relative;}
.round, .rounded {border-radius:5px;}
.full-height {height:100%;}
.c {
    &:after {
        content:'';
        display: block;
        clear:both;
    }
}

// Horizontal Lines and Spacers
hr {border:0;height:0;clear:both;border-top:1px solid $Gray5;margin:8px 0;}
hr.thickest {margin:48px 0;}
hr.thicker {margin:32px 0;}
hr.thick {margin:24px 0;}
hr.thin {margin:4px 0;}
hr.thin-bot,
hr.thin-bottom {margin-bottom:4px !important;}
hr.fit {margin:0px;}
hr.fit-top {margin-top:0px !important;}
hr.fit-bot,
hr.fit-bottom  {margin-bottom:0px !important;}
hr.clear {border-top-color:transparent;}

// Prevent Resizing
.noresize {resize:none;}

// Prevent Selection
.unselectable {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

// Single Word Breaker
.word-break {word-wrap:break-word;}

// Force in-text line-breaks
.line-break {white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap;}

// Preserves text line-breaks
.preserve-text {white-space: pre-line; word-wrap: break-word;}

// Prevent text line-breaks
.text-unbreakable {white-space: nowrap;}

// Hide Under 900
.hide-under-900 {
    @media (max-width:900px) {
        display:none;
    }
}

.ui-slick {
    &:not(.slick-initialized):not(.slick-mobile-only) {
        display: none;
    }
    @media (max-width: $mobilePortraitMax) {
        &:not(.slick-initialized):not(.slick-desktop-only) {
            display: none;
        }
    }
    .slick-dots li {

        button {
            border-radius: 50%;
            width: 16px;
            height: 16px;
            border:2px solid $Gray2;
            &:before {
                display: none;
            }
        }

        &.slick-active {
            button {
                background: $Gray2;
            }
        }
    }
    .slick-arrow {
        top:auto;
        bottom: -34px;
        z-index:1;
        &:before {
            font-family:'Font Awesome 5 Pro';
            font-weight:400;
            color: $Gray2;
        }
    }
    .slick-prev {
        left:16px;
        &:before {
            content:'\f104';
        }
    }
    .slick-next {
        right:16px;
        &:before {
            content:'\f105';
        }
    }
}

.padded-section {
    padding: $sectionPadding 0;
    @media (min-width: $mobilePortraitMax) {
        padding: $sectionPaddingDesktop 0;
    }
}