// Modals
body.fixed {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;

    // Fixes modal scroll in mobile
    @media(max-width: $mobilePortraitMax) {
        position:absolute;
        height:170vh;
    }
}

body.prevent-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    width: 100%;
    height: 100%;
    background-color: $Gray2;
    opacity: 0.8;
    @media (max-width: $mobilePortraitMax) {
        position:fixed;
        height:170vh;
    }
}

.modal {
    transition: opacity 0.3s;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    padding:0 8vw;

    @media (max-width: $mobilePortraitMax) {
        position:absolute;
        height: auto;
        overflow-y: auto;
        min-height:100vh;
    }

    .close {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size:32px;
        padding:18px 40px;
        z-index: 1;
        display: block;
        color: $White;
        cursor: pointer;
        text-decoration:none;
        @media (max-width: $mobilePortraitMax) {
            padding:18px 24px;
            color: $Gray4;
        }
    }

    &.small {
        .modal-content {
            max-width:400px;
        }
    }

    &.large {
        .modal-content {
            max-width:700px;
        }
    }

    .modal-content {
        background-color: $White;
        min-width:400px;
        max-width:500px;
        border-radius: 5px;
        position: relative;
        color:$Gray3;
        font-size: 14px;

        &.top-aligned {
            margin-top:15vh;
            @media (min-height: 900px) {
                margin-top:22vh;
            }
            @media (max-width: $mobilePortraitMax) {
                margin-top:0;
            }
        }

        .close {
            color: $Gray4;
        }

        hr:not(.clear) {
            border-top-color: $Gray6;
        }

        p {
            font-weight: 500;
            margin:24px 0 32px 0;
            &:first-child {
                margin-top:0;
            }
            &:last-child {
                margin-bottom:0;
            }
            a:not(.button) {
                font-weight: 500;
                color:$Gray2;
            }
        }

        .big-icon {
            font-size: 64px;
            &.green {
                color: $Green1;
            }
            &.red {
                color: $Red1;
            }
        }

        @media (max-width: $mobilePortraitMax) {
            max-width: 100vw;
            min-width: 100vw;
            min-height: 170vh;
            overflow-y: auto;
        }
    }

    .modal-body {
        padding: 40px;
        @media (max-width: $mobilePortraitMax) {
            padding: 24px 24px 32px 24px;
        }
    }

    .has-scroll {
        min-height: 500px;
        max-height: 65vh;
        margin-bottom:40px;
        overflow-y:scroll;
        &::-webkit-scrollbar-track {
            background-color: $Gray5;
            border-radius: 50px;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $Gray4;
            border-radius: 50px;
        }
        @media (max-width: $mobilePortraitMax) {
            margin-bottom:24px;
            max-height: 96vh;
        }
    }

    .modal-title {
        font-family: "Trebuchet MS", "Barlow", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: $Gray2;
        display: block;
        padding:32px 40px;
        border-bottom: 1px solid $Gray6;
        @media (max-width: $mobilePortraitMax) {
            padding:32px 24px;
        }
    }

    .line-text {
        display: block;
        text-align: center;
        margin: 32px 0;
        position: relative;

        &::before {
            position: absolute;
            top: 12px;
            left: -40px;
            width: calc(100% + 80px);
            height: 1px;
            display: block;
            content: "";
            background-color: $Gray6;

            @media (max-width: $mobilePortraitMax) {
                width: calc(100% + 48px);
                left: -24px;
            }
        }

        span {
            font-size: 14px;
            color: $Gray3;
            background-color: $White;
            padding: 0 10px;
            position: relative;
        }
    }
}
