// Website Exclusive Styles

fieldset {
    border:none;
    padding:0;
}

.site-title {
    font-family: "Trebuchet MS";
    text-transform: uppercase;
    font-size: 34px;
    line-height: 40px;
    color: $Gray2;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
}

.site-subtitle {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: .4px;
    font-weight: 400;
    color: $Gray3;
}

.bged-section {
    position: relative;
    min-height: 50vh;
    background:center center no-repeat;
    background-size:cover;

    &:before {
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: $Black;
        opacity:0.5;
        z-index: 0;
    }

    &>*:first-child {
        position: relative;
        background:$White;
        padding:40px;
    }

    &.job-heading {
        background-image: url("../img/company-bg.jpg");

        @media (max-width: $mobilePortraitMax) {
            padding-top: 100px;
        }

        &>*:first-child {
            position: relative;
            background:rgba(0, 0, 0, 0.4);
        }
        .site-title {
            color:$White;
            font-size: 40px;
        }
        .site-subtitle {
            color:$White;
            font-size: 20px;
        }
    }
    &.faq {
        background-image: url("../img/alt-company-bg.jpg");
    }
}

.faq {
    p:not(.question):not(.answer) {
        margin:0 0 16px 0;
    }
    .question {
        color: $Gray2;
        display:inline-block;
        margin:0 0 10px 0;
    }
    .answer {
        margin:0 0 15px 0;
        font-size: 14px;
    }
}